<div id="<%= dom_id utility %>">
  <p>
    <strong>Type:</strong>
    <%= utility.type %>
  </p>

  <p>
    <strong>Fee:</strong>
    <%= utility.fee %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= utility.unit %>
  </p>

</div>
