<div id="<%= dom_id room %>">
  <p>
    <strong>Room type:</strong>
    <%= room.room_type %>
  </p>

  <p>
    <strong>Room code:</strong>
    <%= room.room_code %>
  </p>

  <p>
    <strong>Max customer:</strong>
    <%= room.max_customer %>
  </p>

</div>
