<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Type:</strong>
    <%= vehicle.type %>
  </p>

  <p>
    <strong>License plate number:</strong>
    <%= vehicle.license_plate_number %>
  </p>

  <p>
    <strong>String:</strong>
    <%= vehicle.string %>
  </p>

</div>
